html{
	scroll-behavior: smooth;
}

body{
	font-family: "Futura";
	background-color: #E9F8FB;
}

/*mobile first images*/

.brooke_image{
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-height: 200px;
	width: auto;
	animation-name: logo_stretch;
	animation-duration: 10s;
}

.brooke_image_long{
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-height: 75px;
	width: auto;
}

/*animation*/

@-webkit-keyframes logo_stretch{
  /*Your code here.*/
	from {height: 25px}
	to {height: 200px}
}

@keyframes logo_stretch{
  /*Your code here.*/
	from {height: 25px}
	to {height: 200px}
}

/*nav header*/

.nav_links{
	display: grid;
	background-color: #CAF0F5;
	grid-template-columns: auto auto auto auto;
	padding: 25px;
	justify-items: center;
	list-style: none;
	font-size: 15px;
}

.nav_links a{
	color: #0A3136;
	text-decoration: none;
}

.nav_links a:hover{
	color: #FFFFFF;
	text-decoration: underline;
}

.nav_links a:focus{
	color: #FFFFFF;
	text-decoration: underline;
}

/*paragraph headers*/

h1{
	font-size: 25px;
	line-height: 0;
	padding: 30px;
	text-align: center;
	text-overflow: inherit;
}

h2{
	font-size: 20px;
	text-align: center;
}

/*footer*/

footer{
	background-color: black;
  	color: white;
  	padding: 10px;
	text-align: right;
	font-style: italic;
	margin-top: 10px;
}

footer a{
	color: white
}

footer a:hover{
	color: #CAF0F5;
}

footer a:focus{
	color: #CAF0F5;
}

/*home page*/

.summary, .academics{
	border: 6px #93E0EC solid;
	background-color: #FFFFFF;
	margin: 10px;
	padding: 10px;
}

.containter{
	display: flex;
	flex-direction: column;
}

/*about page*/

h3{
	text-align: center;
}

.about_me{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
}

figure{
	display: table;
	table-layout: fixed;
	}
	
figure img{
	border: 6px #93E0EC solid;
	margin: 10px;
	width: 300px;
}
	
figure figcaption{
  	display: table-caption;
	caption-side: bottom;
}

/*leadership page*/

h2 a{
	text-decoration: none;
	color: #000000;
}

h2 a:hover{
	color: #17727E;
	text-decoration: underline;
}

h2 a:focus{
	color: #17727E;
	text-decoration: underline;
}

.activities h3{
	font-style: italic;
}

.activities{
	display: grid;
	align-items: center;
	justify-items: center;
	grid-template-columns: auto;
  	grid-template-rows: auto auto auto auto;
 	grid-row-gap: 15px;
}

.zta, .ktp{
	grid-column: 1 / span 1;
	background-color: #FFFFFF;
  	border: 6px solid #93E0EC;
	padding: 5px;
}

.zta-image{
	grid-row: 1 / auto;
}

.zta{
	grid-row: 2 / auto;
}

.ktp-image{
	grid-row: 3 / auto;
}

.ktp{
	grid-row: 4 / auto;
}

.ktp-image img, .zta-image img{
	grid-column: 1 / auto;
	padding: 10px;
	max-width: 350px;
	height: auto;
	overflow: inherit;
}


/*work page*/

.experience h3{
	font-style: italic;
}

.experience{
	display: grid;
	grid-template-columns: auto;
  	grid-template-rows: auto auto auto auto auto auto auto;
	align-items: center;
	justify-items: center;
}

.juni, .ncaa, .nextlevel, .skills{
	grid-column: 1 / span 1;
	grid-row: auto / span 1;
	background-color: #FFFFFF;
  	border: 6px solid #93E0EC;
	padding: 5px;
}

.juni-image img, .ncaa-image img, .nextlevel-image img{
	grid-column: 1 / auto;
	grid-row: auto / 1;
	align-items: center;
	padding: 10px;
	max-width: 350px;
	overflow: hidden;
}

.juni-image{
	grid-row: 1 / auto;
}

.juni{
	grid-row: 2 / auto;
}

.ncaa-image{
	grid-row: 3 / auto;
}

.ncaa{
	grid-row: 4 / auto;
}

.nextlevel-image{
	grid-row: 5 / auto;
}

.nextlevel{
	grid-row: 6 / auto;
}

.skills{
	grid-row: 7 / auto;
	margin-top: 10px;
}

.skills ul{
	list-style-type: none;
	font-style: oblique;
}

/*desktop view*/

@media screen and (min-width: 850px){
	
	.brooke_image_long{
		display: block;
		margin-left: auto;
		margin-right: auto;
		max-height: 200px;
		width: auto;
	}
	
	.containter{
		display: flex;
		flex-direction: row;
	}	
	
	.experience, .skills{
		display: grid;
		grid-template-columns: auto auto;
    	grid-template-rows: auto auto auto auto;
		grid-row-gap: 10px;
		align-items: center;
		justify-items: center;
	}
	
	.juni{
		grid-row: 1 / auto;
    	grid-column: 2 / span 1;
	}
	
	.ncaa{
		grid-row: 2 / auto;
		grid-column: 1 / span 1;
	}
	
	.nextlevel{
		grid-row: 3 / auto;
		grid-column: 2 / span 1;
	}
	
	.juni-image{
		grid-row: 1 / auto;
    	grid-column: 1 / span 1;
    	overflow: inherit;
	}
	
	.ncaa-image{
		grid-row: 2 / auto;
		grid-column: 2 / span 1;
    	overflow: inherit;
	}
	
	.nextlevel-image{
		grid-row: 3 / auto;
    	grid-column: 1 / span 1;
    	overflow: inherit;
	}
	
	.skills{
		border: none;
		background-color: transparent;
	}
	
	.skills h2{
		grid-row: 4 / auto;
		grid-column: 1 / span 1;
		background-color: #FFFFFF;
  		border: 6px solid #93E0EC;
		padding: 50px;
	}
	
	.skills ul{
		grid-row: 4 / auto;
		grid-column: 2 / span 1;
		list-style: disc;
	}
	
	.activities{
		display: grid;
		grid-template-columns: auto auto;
    	grid-template-rows: auto auto;
		grid-row-gap: 10px;
		align-items: center;
		justify-items: center;
	}
	
	.zta{
		grid-row: 1 / auto;
    	grid-column: 1 / span 1;
	}
	
	.ktp{
		grid-row: 2 / auto;
		grid-column: 2 / span 1;
	}
	
	.zta-image{
		grid-row: 1 / auto;
		grid-column: 2 / span 1;
		overflow: inherit;
	}
	
	.ktp-image{
		grid-row: 2 / auto;
		grid-column: 1 / span 1;
		overflow: inherit;
	}
	
}

/*reduced motion query*/

@media screen and (prefers-reduced-motion) {
	
	.brooke_image{
		animation: none;
	}
	
}


