/*questions for office hours*/
/*having a hard time making the nav links display which page I am on*/

html{
	scroll-behavior: smooth;
}

body{
	font-family: "Futura";
	line-height: normal;
	margin: 10px;
}

/*mobile first images*/

.brooke_headshot{
	display: block;
	margin-left: auto;
	margin-right: auto;
	min-height: 500px;
	width: auto;
	animation-name: headshot_focus;
	animation-duration: 10s;
}

.brooke_image_long{
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-height: 75px;
	width: auto;
	padding-bottom: 15px;
}

/*animation*/

@-webkit-keyframes headshot_focus{
	from {opacity: 0}
	to {opacity: 1}
}

@keyframes headshot_focus{
	from {opacity: 0}
	to {opacity: 1}
}

/*flip card*/

.skills{
	height: 250px;
	width: 250px;
}

.flip-card ul{
	list-style: none;
	padding: 20px;
}

.flip-card {
  	background-color: transparent;
  	width: 250px;
  	height: 250px;
  	perspective: 1000px;
	margin-right: auto;
	margin-left: auto;
	padding: 20px;
}

.flip-card-inner {
  	position: relative;
  	width: 100%;
  	height: 100%;
  	text-align: center;
  	transition: transform 0.8s;
  	transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner,
.flip-card:focus-within .flip-card-inner,
.flip-card:active .flip-card-inner,
.flip-card:focus .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  	position: absolute;
  	width: 100%;
  	height: 100%;
  	-webkit-backface-visibility: hidden; 
  	backface-visibility: hidden;
}

.flip-card-front {
  	background-color: #bbb;
  	color: black;
}

.flip-card-back {
  	background-color: #830056;
  	color: white;
  	transform: rotateY(180deg);
}

/*nav header*/

.nav_links{
	display: grid;
	/*background-color: #CAF0F5;*/
	grid-template-columns: auto auto auto auto;
	padding: 25px;
	justify-items: center;
	list-style: none;
	font-size: 10px;
}

.nav_links a{
	color: #0A3136;
	text-decoration: none;
}

.nav_links a:hover{
	color: #830056;
	text-decoration: underline;
}

.nav_links a:focus{
	color: #830056;
	text-decoration: underline;
}

.nav_links a.active-page{
	color: #830056;
	font-style: italic;
}

/*paragraph headers*/

h1{
	font-size: 20px;
	/*line-height: 0;*/
	padding: 15px;
	text-align: center;
	
}

h2{
	font-size: 15px;
	text-align: center;
}

/*footer*/

footer{
	display: grid;
	grid-template-rows: auto auto;
	background-color:  #28C0D4;
  	color: white;
  	padding: 10px;
	margin-top: 10px;
}

footer a{
	grid-row: auto / span 1;
	color: white;
	text-decoration: none;
	font-style: italic;
}

footer a:hover{
	color: #830056;
}

footer a:focus{
	color: #830056;
}

/*contact form*/
.contact{
	grid-row: 1 / span 1;
}

form label{
	font-style: italic;
}

input[type=text], input[type=email], textarea{
 	width: 100%;
	padding: 12px 20px;
 	margin: 8px 0;
	display: inline-block;
 	border: 1px solid #ccc;
 	border-radius: 4px;
 	box-sizing: border-box;
}

input[type=submit]{
 	width: 100%;
	background-color: #830056;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

input[type=submit]:hover{
	background-color: #CAF0F5;
}

input[type=submit]:focus{
	background-color: #CAF0F5;
}

.contact_line{
	text-align: center;
	margin: 15px;
}

/*home page*/

.summary, .academics, .exp{
	margin: 5px;
	padding: 5px;
}

.brooke_headshot{
	padding-top: 10px;
	padding-bottom: 20px;
	max-width: auto;
	max-height: 500px;
}

.container{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: rgba(202,240,245, 0.75);
}

/*about page*/

h3{
	text-align: center;
}

.containter-about{
	background-image: url("../images/stars.png");
	background-attachment: fixed;
	background-position: center;
 	background-repeat: repeat;
  	background-size: cover;
}

.about_me{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	margin: 20px;
}

figure{
	display: table;
	table-layout: fixed;
}
	
figure img{
	margin: 10px;
	width: 350px;
}
	
figure figcaption{
  	display: table-caption;
	caption-side: bottom;
	padding: 10px;
}

/*leadership page*/

ul{
	list-style-position: outside;
	padding: 20px;
}

h2 a{
	text-decoration: none;
	color: #000000;
}

h2 a:hover{
	color: #830056;
	text-decoration: underline;
}

h2 a:focus{
	color: #830056;
	text-decoration: underline;
}

.activities h3{
	font-style: italic;
}

.activities{
	background-image: url("../images/stars.png");
	background-attachment: fixed;
	background-position: center;
 	background-repeat: repeat;
  	background-size: cover;
	display: grid;
	align-items: center;
	justify-items: center;
	grid-template-columns: auto;
  	grid-template-rows: auto auto auto auto;
 	grid-row-gap: 15px;
}

.zta, .ktp{
	grid-column: 1 / span 1;
	padding: 5px;
	background-color: rgba(202,240,245, 0.75);
}

.zta-image{
	grid-row: 1 / auto;
}

.zta{
	grid-row: 2 / auto;
}

.ktp-image{
	grid-row: 3 / auto;
}

.ktp{
	grid-row: 4 / auto;
}

.ktp-image img, .zta-image img{
	grid-column: 1 / auto;
	padding: 10px;
	max-width: 300px;
	height: auto;
	overflow: inherit;
}


/*work page*/

.experience h3{
	font-style: italic;
}

.containter-work{
	background-image: url("../images/stars.png");
	background-attachment: fixed;
	background-position: center;
 	background-repeat: repeat;
  	background-size: cover;
}

.experience{
	display: grid;
	grid-template-columns: auto;
  	grid-template-rows: auto auto auto auto auto auto auto auto;
	align-items: center;
	justify-items: center;
}

.juni, .ncaa, .nextlevel{
	grid-column: 1 / span 1;
	grid-row: auto / span 1;
	padding: 5px;
	background-color: rgba(202,240,245, 0.75);
}

.juni-image img, .ncaa-image img, .nextlevel-image img{
	grid-column: 1 / auto;
	grid-row: auto / 1;
	align-items: center;
	padding: 10px;
	max-width: 300px;
	overflow: hidden;
}

.juni-image{
	grid-row: 1 / auto;
}

.juni{
	grid-row: 2 / auto;
}

.ncaa-image{
	grid-row: 3 / auto;
}

.ncaa{
	grid-row: 4 / auto;
}

.nextlevel-image{
	grid-row: 5 / auto;
}

.nextlevel{
	grid-row: 6 / auto;
}

/*desktop view*/

@media screen and (min-width: 1024px){
	
	.brooke_image_long{
		display: block;
		margin-left: auto;
		margin-right: auto;
		max-height: 200px;
		width: auto;
	}
	
	.nav_links{
		font-size: 12px;
	}
	
	.container{
		display: flex;
		flex-direction: row;
	}
	
	/*about page*/
	
	.about_me{
		display: grid;
		grid-template-columns: 325px 325px 325px;
		grid-template-rows: 325px 325px 325px;
		grid-gap: 10px;
	}
	
	figcaption{
		overflow: auto;
	}
	
	.family figure img{
		border: none;
		margin: 0px;
		padding: 0px;
		height: 325px;
		width: 325px;
		position: absolute;
	}
	
	.family figure figcaption{
  		background: rgba(131,0,86,.5);
		height: 305px;
		width: 305px;
		text-align: center;
		margin: auto;
  		color: #fff;
  		visibility: hidden;
  		opacity: 0;
		position: relative;
		transition: opacity .2s, visibility .2s;
	}
	
	.family figure:hover figcaption{
		visibility: visible;
  		opacity: 1;
	}
	
	.travel figure img{
		border: none;
		margin: 0px;
		padding: 0px;
		height: 325px;
		width: 325px;
		position: absolute;
	}
	
	.travel figure figcaption{
  		background: rgba(131,0,86,.5);
		height: 305px;
		width: 305px;
		text-align: center;
		margin: auto;
  		color: #fff;
  		visibility: hidden;
  		opacity: 0;
		position: relative;
		transition: opacity .2s, visibility .2s;
	}
	
	.travel figure:hover figcaption{
		visibility: visible;
  		opacity: 1;
	}
	
	.friends figure img{
		border: none;
		margin: 0px;
		padding: 0px;
		height: 325px;
		width: 325px;
		position: absolute;
	}
	
	.friends figure figcaption{
  		background: rgba(131,0,86,.5);
		height: 305px;
		width: 305px;
		text-align: center;
		margin: auto;
  		color: #fff;
  		visibility: hidden;
  		opacity: 0;
		position: relative;
		transition: opacity .2s, visibility .2s;
	}
	
	.friends figure:hover figcaption{
		visibility: visible;
  		opacity: 1;
	}
	
	.skiing figure img{
		border: none;
		margin: 0px;
		padding: 0px;
		height: 325px;
		width: 325px;
		position: absolute;
	}
	
	.skiing figure figcaption{
  		background: rgba(131,0,86,.5);
		height: 305px;
		width: 305px;
		text-align: center;
		margin: auto;
  		color: #fff;
  		visibility: hidden;
  		opacity: 0;
		position: relative;
		transition: opacity .2s, visibility .2s;
	}
	
	.skiing figure:hover figcaption{
		visibility: visible;
  		opacity: 1;
	}
	
	.food figure img{
		border: none;
		margin: 0px;
		padding: 0px;
		height: 325px;
		width: 325px;
		position: absolute;
	}
	
	.food figure figcaption{
  		background: rgba(131,0,86,.5);
		height: 305px;
		width: 305px;
		text-align: center;
		margin: auto;
  		color: #fff;
  		visibility: hidden;
  		opacity: 0;
		position: relative;
		transition: opacity .2s, visibility .2s;
	}
	
	.food figure:hover figcaption{
		visibility: visible;
  		opacity: 1;
	}
	
	.football figure img{
		border: none;
		margin: 0px;
		padding: 0px;
		height: 325px;
		width: 325px;
		position: absolute;
	}
	
	.football figure figcaption{
  		background: rgba(131,0,86,.5);
		height: 305px;
		width: 305px;
		text-align: center;
		margin: auto;
  		color: #fff;
  		visibility: hidden;
  		opacity: 0;
		position: relative;
		transition: opacity .2s, visibility .2s;
	}
	
	.football figure:hover figcaption{
		visibility: visible;
  		opacity: 1;
	}
	
	.mfm figure img{
		border: none;
		margin: 0px;
		padding: 0px;
		height: 325px;
		width: 325px;
		position: absolute;
	}
	
	.mfm figure figcaption{
  		background: rgba(131,0,86,.5);
		height: 305px;
		width: 305px;
		text-align: center;
		margin: auto;
  		color: #fff;
  		visibility: hidden;
  		opacity: 0;
		position: relative;
		transition: opacity .2s, visibility .2s;
	}
	
	.mfm figure:hover figcaption{
		visibility: visible;
  		opacity: 1;
	}
	
	.walks figure img{
		border: none;
		margin: 0px;
		padding: 0px;
		height: 325px;
		width: 325px;
		position: absolute;
	}
	
	.walks figure figcaption{
  		background: rgba(131,0,86,.5);
		height: 305px;
		width: 305px;
		text-align: center;
		margin: auto;
  		color: #fff;
  		visibility: hidden;
  		opacity: 0;
		position: relative;
		transition: opacity .2s, visibility .2s;
	}
	
	.walks figure:hover figcaption{
		visibility: visible;
  		opacity: 1;
	}
	
	.nyc figure img{
		border: none;
		margin: 0px;
		padding: 0px;
		height: 325px;
		width: 325px;
		position: absolute;
	}
	
	.nyc figure figcaption{
  		background: rgba(131,0,86,.5);
		height: 305px;
		width: 305px;
		text-align: center;
		margin: auto;
  		color: #fff;
  		visibility: hidden;
  		opacity: 0;
		position: relative;
		transition: opacity .2s, visibility .2s;
	}
	
	.nyc figure:hover figcaption{
		visibility: visible;
  		opacity: 1;
	}
	
	/*work page*/
	
	.experience{
		display: grid;
		grid-template-columns: auto auto;
    	grid-template-rows: auto auto auto auto;
		grid-row-gap: 10px;
		align-items: center;
		justify-items: center;
		padding: 10px;
	}
	
	.juni{
		grid-row: 1 / auto;
    	grid-column: 2 / span 1;
	}
	
	.ncaa{
		grid-row: 2 / auto;
		grid-column: 1 / span 1;
	}
	
	.nextlevel{
		grid-row: 3 / auto;
		grid-column: 2 / span 1;
	}
	
	.juni-image{
		grid-row: 1 / auto;
    	grid-column: 1 / span 1;
    	overflow: inherit;
	}
	
	.ncaa-image{
		grid-row: 2 / auto;
		grid-column: 2 / span 1;
    	overflow: inherit;
	}
	
	.nextlevel-image{
		grid-row: 3 / auto;
    	grid-column: 1 / span 1;
    	overflow: inherit;
	}
	
	.juni-image, .nextlevel-image, .ncaa-image{
		max-width: 325px;
		max-height: 325px;
	}
	
	/*leadeship page*/
	
	.activities{
		display: grid;
		grid-template-columns: auto auto;
    	grid-template-rows: auto auto;
		grid-row-gap: 10px;
		align-items: center;
		justify-items: center;
		padding: 20px;
	}
	
	.zta{
		grid-row: 1 / auto;
    	grid-column: 1 / span 1;
	}
	
	.ktp{
		grid-row: 2 / auto;
		grid-column: 2 / span 1;
	}
	
	.zta-image{
		grid-row: 1 / auto;
		grid-column: 2 / span 1;
		overflow: inherit;
	}
	
	.ktp-image{
		grid-row: 2 / auto;
		grid-column: 1 / span 1;
		overflow: inherit;
	}
	
	.zta-image, .ktp-image{
		max-width: 325px;
		max-height: 325px;
	}
	
	/*home page*/
	
	.brooke_headshot{
		padding: 20px;
		max-height: 800px;
	}
	
	.summary{
		justify-content: center;
		padding: 100px;
	}
	
	/*footer*/
	
	form{
		max-width: 450px;
		margin: auto;
	}
}


/*tablet view*/
@media (min-width: 768px) and (max-width: 1024px) {
	
	/*home page*/
	.container{
		flex-direction: column;
	}
	
	/*about page*/
	.about_me{
		display: grid;
		grid-template-columns: 325px 325px;
		grid-template-rows: 325px 325px 325px;
		grid-gap: 10px;
		align-content: center;
		justify-content: center;
	}
	
	figcaption{
		overflow: auto;
	}
	
	.family figure img{
		border: none;
		margin: 0px;
		padding: 0px;
		height: 325px;
		width: 325px;
		position: absolute;
	}
	
	.family figure figcaption{
  		background: rgba(131,0,86,.5);
		height: 305px;
		width: 305px;
		text-align: center;
		margin: auto;
  		color: #fff;
  		visibility: hidden;
  		opacity: 0;
		position: relative;
		transition: opacity .2s, visibility .2s;
	}
	
	.family figure:hover figcaption{
		visibility: visible;
  		opacity: 1;
	}
	
	.travel figure img{
		border: none;
		margin: 0px;
		padding: 0px;
		height: 325px;
		width: 325px;
		position: absolute;
	}
	
	.travel figure figcaption{
  		background: rgba(131,0,86,.5);
		height: 305px;
		width: 305px;
		text-align: center;
		margin: auto;
  		color: #fff;
  		visibility: hidden;
  		opacity: 0;
		position: relative;
		transition: opacity .2s, visibility .2s;
	}
	
	.travel figure:hover figcaption{
		visibility: visible;
  		opacity: 1;
	}
	
	.friends figure img{
		border: none;
		margin: 0px;
		padding: 0px;
		height: 325px;
		width: 325px;
		position: absolute;
	}
	
	.friends figure figcaption{
  		background: rgba(131,0,86,.5);
		height: 305px;
		width: 305px;
		text-align: center;
		margin: auto;
  		color: #fff;
  		visibility: hidden;
  		opacity: 0;
		position: relative;
		transition: opacity .2s, visibility .2s;
	}
	
	.friends figure:hover figcaption{
		visibility: visible;
  		opacity: 1;
	}
	
	.skiing figure img{
		border: none;
		margin: 0px;
		padding: 0px;
		height: 325px;
		width: 325px;
		position: absolute;
	}
	
	.skiing figure figcaption{
  		background: rgba(131,0,86,.5);
		height: 305px;
		width: 305px;
		text-align: center;
		margin: auto;
  		color: #fff;
  		visibility: hidden;
  		opacity: 0;
		position: relative;
		transition: opacity .2s, visibility .2s;
	}
	
	.skiing figure:hover figcaption{
		visibility: visible;
  		opacity: 1;
	}
	
	.food figure img{
		border: none;
		margin: 0px;
		padding: 0px;
		height: 325px;
		width: 325px;
		position: absolute;
	}
	
	.food figure figcaption{
  		background: rgba(131,0,86,.5);
		height: 305px;
		width: 305px;
		text-align: center;
		margin: auto;
  		color: #fff;
  		visibility: hidden;
  		opacity: 0;
		position: relative;
		transition: opacity .2s, visibility .2s;
	}
	
	.food figure:hover figcaption{
		visibility: visible;
  		opacity: 1;
	}
	
	.football figure img{
		border: none;
		margin: 0px;
		padding: 0px;
		height: 325px;
		width: 325px;
		position: absolute;
	}
	
	.football figure figcaption{
  		background: rgba(131,0,86,.5);
		height: 305px;
		width: 305px;
		text-align: center;
		margin: auto;
  		color: #fff;
  		visibility: hidden;
  		opacity: 0;
		position: relative;
		transition: opacity .2s, visibility .2s;
	}
	
	.football figure:hover figcaption{
		visibility: visible;
  		opacity: 1;
	}
	
	.mfm figure img{
		border: none;
		margin: 0px;
		padding: 0px;
		height: 325px;
		width: 325px;
		position: absolute;
	}
	
	.mfm figure figcaption{
  		background: rgba(131,0,86,.5);
		height: 305px;
		width: 305px;
		text-align: center;
		margin: auto;
  		color: #fff;
  		visibility: hidden;
  		opacity: 0;
		position: relative;
		transition: opacity .2s, visibility .2s;
	}
	
	.mfm figure:hover figcaption{
		visibility: visible;
  		opacity: 1;
	}
	
	.walks figure img{
		border: none;
		margin: 0px;
		padding: 0px;
		height: 325px;
		width: 325px;
		position: absolute;
	}
	
	.walks figure figcaption{
  		background: rgba(131,0,86,.5);
		height: 305px;
		width: 305px;
		text-align: center;
		margin: auto;
  		color: #fff;
  		visibility: hidden;
  		opacity: 0;
		position: relative;
		transition: opacity .2s, visibility .2s;
	}
	
	.walks figure:hover figcaption{
		visibility: visible;
  		opacity: 1;
	}
	
	.nyc figure img{
		border: none;
		margin: 0px;
		padding: 0px;
		height: 325px;
		width: 325px;
		position: absolute;
	}
	
	.nyc figure figcaption{
  		background: rgba(131,0,86,.5);
		height: 305px;
		width: 305px;
		text-align: center;
		margin: auto;
  		color: #fff;
  		visibility: hidden;
  		opacity: 0;
		position: relative;
		transition: opacity .2s, visibility .2s;
	}
	
	.nyc figure:hover figcaption{
		visibility: visible;
  		opacity: 1;
	}
	
}

/*reduced motion query*/

@media screen and (prefers-reduced-motion) {
	
	.brooke_headshot{
		animation: none;
	}
	
	.flip-card-inner {
        transition: transform none;
    }
	
}


